/* import variables css */
@import "variables.css";
/* import fonts */
@import "fonts.css";
/* import component specific css */
@import "header.css";
@import "menuItem.css";
@import "footer.css";
@import "cartModal.css";
/* import pages content stylings */
@import "homeContent.css";
@import "menu.css";
@import "about.css";
/* media query file */
@import 'responsive.css';

* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	scroll-behavior: smooth;
}
html,
body {
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background-color: var(--color-background);
}
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.animate__animated {
	animation-duration: 0.5s;
}

#content,
.footerContainer {
	transition: opacity 0.3s ease-in-out;
}
