@media screen and (max-width: 1023px) {
	/* Header */
	.headerContainer {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		height: auto;
	}

	.navContainer {
		margin: 2rem 0;
	}

	.iconContainer {
		margin-top: 1rem;
	}

	/* hero section */
	.heroTextContainer {
		margin-top: 5rem;
	}
	.heroTextLine1,
	.heroTextLine2 {
		font-size: 3rem;
	}
	.heroImage {
		height: auto;
		width: 90%;
		padding-right: 0;
	}

	/* preview menu */
	.menuCardsContainer {
		flex-wrap: wrap;
		justify-content: center;
	}

	/* testimonials */
	.reviewCardImg {
		width: 350px;
	}
	#reviewCard1 {
		position: absolute;
		top: 20%;
		left: 0;
	}
	#reviewCard2 {
		position: absolute;
		top: 110%;
		left: 20%;
	}
	#reviewCard3 {
		position: absolute;
		top: 35%;
		left: 50%;
	}

	/* Footer */
	.footerContainer {
		height: auto;
		padding: 1rem;
	}

	.navigationContainerFooter {
		width: 60%;
		justify-content: space-evenly;
	}
	.iconsWrapper {
		width: 20%;
		margin-top: 0;
	}

	/* MENU PAGE */
	.headerMenuPageContainer {
		margin-top: 3rem;
	}
	.headerMenuPageText {
		font-size: 4rem;
	}

	.menuCategoriesContainer {
		width: 100%;
		max-width: 100%;
		margin-left: 1rem;
	}

	/* MENU ITEMS */
	.categorySectionHeadingText {
		font-size: 3rem;
	}
	.cardContainer {
		width: 90%;
		gap: 0.5rem;
		padding: 0.5rem;
	}
	.nameAndPriceText {
		font-size: 1.5rem;
	}
	.imgToDisplay {
		width: 250px;
		height: 180px;
	}

	/* about page */
	.aboutText {
		font-size: 1.5rem;
	}

	/* CARTMODAL */
	.itemsCartContainer {
		left: 5%;
		width: 90%;
	}
	.closeCartContainer {
		margin: 1.5rem 2rem 1.5rem 1.5rem;
	}

	.emptyCartMessage {
		top: 20%;
	}
}

/* Mobile Styles */
@media screen and (max-width: 767px) {
	/* Header */
	.headerContainer {
		padding: 0.5rem;
		flex-direction: column;
		align-items: center;
		height: auto;
		gap: 0.5rem;
	}

	.navContainer {
		margin: 2rem 0;
		flex-direction: row;
	}
	.navContainer > a {
		font-size: 1rem;
	}

	.iconContainer {
		margin-top: 2rem;
	}

	.logoText {
		font-size: 1.5rem;
	}

	.iconsWrapper {
		display: flex;
		justify-content: center;
	}

	/* Home Page */
	.heroTextLine1,
	.heroTextLine2 {
		font-size: 2.5rem;
		text-align: center;
	}
	.heroTextLine1 {
		padding-bottom: 0;
	}

	.heroImage {
		height: auto;
		width: 85%;
		padding-right: 0;
	}

	.heroCtaBtn {
		width: 10rem;
		height: 3rem;
		font-size: 1.5rem;
	}

	/* TESTIMONIALS */
	.reviewCardImg {
		width: 280px;
	}

	#reviewCard1 {
		position: absolute;
		top: 20%;
		left: 0;
	}
	#reviewCard2 {
		position: absolute;
		top: 160%;
		left: 2%;
	}
	#reviewCard3 {
		position: absolute;
		top: 90%;
		left: 28%;
	}

	/* FOOTER */
	.menuText,
	.homeText,
	.aboutTextFooter {
		font-size: 0.8rem;
	}
	.logoContainerFooter > .logoTextFooter {
		font-size: 1.2rem;
	}
	.logoContainerFooter {
		width: 20%;
	}
	.navigationContainerFooter {
		width: 40%;
	}
	.menuNavigationContainer > .menuText {
		text-align: center;
	}
	.iconsWrapper {
		margin-top: 1rem;
	}
	.iconsWrapper > .iconContainer {
		margin-top: 0;
	}
	.iconsWrapper > .iconContainer > img {
		width: 24px;
		height: 24px;
	}

	/* MENU PAGE */
	.japoneseLettersContainer {
		display: none;
	}

	.headerMenuPageText {
		font-size: 3rem;
	}

	/* MENU ITEMS */
	.categorySectionHeadingText {
		font-size: 2.5rem;
		padding: 2rem 0 0 0;
	}
	.cardContainer {
		width: 90%;
		grid-template-areas:
			"name"
			"img"
			"description"
			"extraInfo"
			"btn";
		grid-template-columns: 1fr;
		padding: 1rem;
		border-radius: 40px 0 40px 0;
	}
	.imgToDisplay {
		width: 100%;
        width: 240px;
        height: 180px;
		height: auto;
	}
    .descritptionText,
    .ingridientsText,
    .extraInfoText{
        letter-spacing: 1.2px;
        line-height: 1.5rem;
    }

	.dishCardBtnContainer {
		display: flex;
		align-items: center;
		justify-content: center;
	}
    .cardBtnAddToCart{
        font-size: 1.8rem;
    }

	/* ABOUT PAGE */
	.aboutText {
		font-size: 1rem;
		letter-spacing: 0.7px;
		line-height: 2.5rem;
	}
	.kaizenHouseText {
		font-size: 1.5rem;
	}

    /* CART MODAL */
    .emptyCartMessage{
        font-size: 1.5rem;
        left: 20%;
        top: 30%;
    }
    .nameCartItemText{
        font-size: 1.2rem;
    }
    .itemsCartContainer{
        padding-right: 0.2rem;
    }
    .imgCartItem{
        width: 140px;
        height: 100px;
    }
    .checkoutBtn{
        font-size: 2rem;
    }
}
