:root {
	--color-primary: #333f72; /* text-color and border-color */
	--color-accent: #e56e0c; /* dishes-names-and-price-color and btns color */
	--color-background: #F3EDE1; /* background color */
	--color-decor: rgba(198, 162, 114, 0.15); /* japonese-letters-decor-color */
    --color-for-animation-cards: rgba(51,63,114,0.7);
    --footer-background: #1D2544; 

    /* modal variables */
    --modal-border-color: rgba(198,162,114,80%);

	/* Typography */
	--font-main: "MainFont", Arial, sans-serif; 
	--font-secondary: "SecondaryFont", Helvetica, sans-serif;
}
